@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.main-index {
  background-color: #ffffff;
  margin: 0;
  padding-top: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-inner {
  background-color: #ffffff;
  margin: 0;
  padding-top: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page-container {
  min-height: 100%;
  height: 100%;
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  min-height: 120px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 30px;
  padding-left: 70px;
}

.main-header-logo {
  width: 140px;
  height: 70px;
  display: block;
  margin-bottom: -6px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 622px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation-link {
  line-height: 24px;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #000000;
  opacity: 0.5;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  left: 15px;
  right: 16px;
}

.search-favourites {
  padding: 22px 12px;
  max-height: 64px;
  position: relative;
}

.in-favorites {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  border: 1px solid #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: center;
  top: 11px;
  right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-right: 70px;
}

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navigation-items:nth-child(3) {
  padding-right: 0;
  padding-left: 20px;
}

.hero {
  background-image: url("../images/index/divider.png"), url("../images/index/index-background.jpg");
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.30);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom center, center;
  min-width: 1200px;
  min-height: 485px;
}

.logo-inscription {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 82px;
  padding-top: 51px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 69px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin: 0;
  margin-bottom: 21px;
}

.advantages-text {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0;
  max-width: 620px;
  min-height: 49px;
}

.found {
  padding-left: 7px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 70px;
}

.advantages-application {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  min-height: 42px;
  text-align: center;
  margin: 0;
}

.advantages-description-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  min-height: 63px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 400px;
  min-height: 385px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-title-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  min-height: 56px;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
}

.advantages-title-heading::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.30);
  left: 58px;
  right: 57px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  min-height: 56px;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.30);
  height: 2px;
  bottom: 0;
  left: 58px;
  right: 58px;
}

.line {
  background: rgba(255, 255, 255, 0.30);
  width: 60px;
  height: 2px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.picture {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
  gap: 30px;
}

.img-fon {
  padding: 0;
  max-width: 800px;
  max-height: 385px;
}

.img-fon-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 385px;
}

.picture-icons-square {
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
  background-color: #83B3D31F;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.charms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.picture-icons {
  background-color: rgba(131, 179, 211, 0.20);
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.service-provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 80px 85px;
  width: 400px;
  min-height: 385px;
}

.features-list {
  gap: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-housing {
  margin-top: 1px;
  margin-left: 3px;
}

.features-food {
  margin-top: 2px;
}

.features-souvenirs {
  margin-left: 10px;
}

.comfort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 64px 0;
  gap: 20px;
}

.block-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.features-item {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
}

.features-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.features-title-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.housing {
  padding-bottom: 29px;
  padding-top: 29px;
}

.food {
  padding-bottom: 29px;
  padding-top: 29px;
}

.souvenirs {
  padding-bottom: 29px;
  padding-top: 29px;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.search {
  text-align: center;
  padding: 49px 70px 60px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.hotel {
  padding: 96px 304px;
}

.search-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1060px;
  min-height: 49px;
}

.advantages-text-card {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0;
  max-width: 338px;
  min-height: 49px;
}


.search-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.search-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: 1px solid #756157;
  border-radius: 4px;
}

.button-hotel {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 376px;
  min-height: 52px;
}

.button-hotel:hover,
.button-hotel:focus {
  background-color: #4e3e36;
}

.button-hotel:active {
  color: #756157;
  opacity: 0.5;
}

.button:disabled {
  background-color: #999999;
}

.come-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  min-height: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #756157;
  text-decoration: none;
}

.come-here:hover,
.come-here:focus {
  background-color: #4e3e36;
}

.come-here:active {
  opacity: 0.5;
  color: #756157;
}

.subscription {
  background-image: url("../images/index/Subscribe.jpg");
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.30);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  min-height: 415px;
}

.subscription-gag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 95px 258px 104px 258px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 55px;
}

.subscription-gag-cask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 21px;
}

.subscription-catalog {
  text-align: center;
}

.subscription-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.search-interest {
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-interest-container {
  gap: 54px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-inside {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  min-width: 452px;
  min-height: 52px;
  padding: 12px 20px;
}

.subscription-header {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  cursor: pointer;
}

.subscribe:hover,
.subscribe:focus {
  background: #68A2CA;
}

.subscribe:active {
  color: rgba(255, 255, 255, 0.30);
  opacity: 0.5;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  max-width: 250px;
}

.number {
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.number:hover,
.number:focus {
  color: #756157;
}

.number:active {
  color: rgba(117, 97, 87, 0.30);
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 47px;
  height: 40px;
}

.feedback:hover path,
.feedback:focus path {
  fill: #68A2CA;
}

.feedback:active path {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo:hover path,
.logo:focus path {
  fill: #756157;
}

.logo:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.logo-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 45px 70px 30px 70px;
  min-height: 50px;
}

.filter {
  background-image: url("../images/catalog/filters.png");
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.30);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1200px;
  padding: 35px 70px 70px 70px;
}

.inner-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-list {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px
}

.catalog-filter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 0 none;
  padding: 0;
  padding-right: 68px;
  margin: 0;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 84px;
  position: relative;
}

.breadcrumbs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 3px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 29px;
  margin: 0;
}

.subject {
  padding-bottom: 32px;
}

.radio-group,
.checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-bottom: 13px;
}

.radio-group:nth-child(4),
.checkbox-group:nth-child(4) {
  padding-bottom: 0;
}

.radio-group:hover,
.checkbox-group:hover {
  opacity: 0.6;
}

.control-input:focus ~ .checkbox,
.control-input:focus ~ .radio {
  outline: 3px solid #83B3D3;
}

.radio-group:active,
.checkbox-group:active {
  opacity: 0.3;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 143px;
  max-height: 48px;
  position: relative;
}

.range-scale {
  position: absolute;
  height: 4px;
  margin-bottom: 36px;
  background-color: #69696D;
  border-radius: 2px;
  top: 90%;
  left: 41%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 6px;
  top: 0;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  opacity: 0.9;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 1px solid #ffffff;
  opacity: 0.8;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.box {
  margin-right: 2px;
}

.control {
  display: block;
  position: relative;
  cursor: pointer;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-left: 36px;
}

.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  left: 2px;
}

.checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #3F5E72;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

.checkbox::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.control-input:checked + .checkbox::after {
  opacity: 1;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 4px;
  left: 1px;
}

.radio::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

.radio::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/icons/radio.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.control-input:checked + .radio::after {
  opacity: 1;
}

.row {
  position: relative;
  z-index: 2;
  top: 14px;
  right: -104px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 24px;
  max-height: 24px;
  color: rgb(171, 182, 191);
}

.cost-figure {
  border-radius: 0 4px 4px 0;
  border: 0 none;
  width: 143px;
  height: 48px;
  position: absolute;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.cost-figure::-webkit-outer-spin-button,
.cost-figure::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.cost-figure:focus {
  border: 3px solid #83B3D3;
}

.figure {
  border-radius: 4px 0 0 4px;
}

.button-off {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 0;
  width: 191px;
  min-height: 36px;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

.button-off:hover,
.button-off:focus {
  color: rgba(255, 255, 255, 0.60);
}

.button-off:active {
  color: rgba(255, 255, 255, 0.40);
}

.button-light {
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-cards {
  border: 2px solid #000000;
}

.button-light:hover {
  border-radius: 4px;
  border: 2px solid #000000;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 191px;
  min-height: 104px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 32px;
}

.apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  width: 191px;
  min-height: 36px;
  text-transform: uppercase;
  margin-top: 56px;
  padding: 0;
  cursor: pointer;
}

.apply:hover,
.apply:focus {
  background-color: #5686a7;
}

.apply:active {
  color: #82B3D3;
  opacity: 0.7;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  min-width: 292px;
  min-height: 49px;
  padding: 10px 18px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select-icon {
  background-image: url("../images/catalog/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 94%, 50%;
  background-size: 12px 9px;
}

.select-control:hover,
.select-control:focus {
  border-radius: 4px;
  border: 2px solid #68A2CA;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  gap: 18px 20px;
  padding: 0;
  width: 1060px;
  min-height: 438px;
  padding-bottom: 36px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  gap: 16px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  -ms-grid-rows: 212px 16px 1fr;
  grid-template-rows: 212px 1fr;
}

.product-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product-card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product-card-link-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.product-card-title:hover,
.product-card-title:focus {
  color: #000000;
  opacity: 0.5;
}

.product-card-title:active {
  color: #000000;
  opacity: 0.3;
}

.product-card-link-header {
  text-decoration: none;
  text-align: start;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.services-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.snap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.services {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.services-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-detailed {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  width: 140px;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-detailed:hover,
.button-detailed:focus {
  background-color: #4e3e36;
}

.button-detailed:active {
  color: #756157;
  opacity: 0.7;
}

.favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  width: 140px;
  min-height: 36px;
  cursor: pointer;
}

.favourites:hover,
.favourites:focus {
  background: #68A2CA;
}

.favourites:active {
  color: rgba(255, 255, 255, 0.30);
  opacity: 0.7;
}

.button-green {
  background-color: #7DB54F;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.button-green:hover,
.button-green:focus {
  background-color: #598a30;
}

.button-green:active {
  color: #a5cf83;
  opacity: 0.5;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.stars {
  margin: 0;
  display: block;
  background-image: url("../images/catalog/stars/stars.svg");
  background-repeat: space no-repeat;
  width: 106px;
  height: 18px;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 41px;
}

.stars-3 {
  width: 64px;
}

.stars-4 {
  width: 88px;
}

.stars-5 {
  width: 106px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  background-color: #F2F2F2;
  width: 140px;
  min-height: 37px;
  padding: 8px 22px;
}

.rating-numbers {
  padding-left: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  gap: 8px;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 11px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  min-height: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #82B3D3;
  margin: auto;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.ellipsis {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 16px 0 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  min-height: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.pagination-link-item {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 11px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  min-height: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  margin: auto;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-content-close {
  display: none;
}

.modal-container {
  width: 717px;
  min-height: 576px;
  padding: 64px 70px;
  border-radius: 30px;
  background: #FFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  position: absolute;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal-group {
  border: 0 none;
  margin: 0;
  padding: 0;
  position: relative;
}

.modal-heading-text {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
  padding: 0;
}

.modal-close {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  position: absolute;
  top: -100px;
  right: -18px;
  padding: 15px;
  padding-top: 18px;
  cursor: pointer;
}

.modal-close:active {
  opacity: 0.5;
}

.close {
  background-image: url("../images/modal/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 14px;
  display: block;
}

.modal-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 577px;
  min-height: 48px;
  margin-bottom: 23px;
  position: relative;
}

.modal-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal-text-item {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 46px;
}

.children {
  margin-right: 83px;
}

.modal-text-list {
  width: 440px;
  min-height: 48px;
  border-radius: 4px;
  background: #F2F2F2;
  padding: 12px 20px;
  border: 0 none;
  padding-right: 70px;
}

.modal-date-svg {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 23px
}

.modal-text-list-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 31px;
  min-height: 48px;
  background: #F2F2F2;
  border: 0 none;
  padding: 14px 0;
  text-align: center;
}

.modal-text-list-number::-webkit-outer-spin-button,
.modal-text-list-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-subtext {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 157px;
  margin-top: 4px;
}

.modal-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}

.modal-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.modal-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 256px;
  min-height: 143px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  border: 1px solid #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 19px 20px 20px 20px;
  position: absolute;
  top: 34px;
  right: 43px;
  margin-top: 18px;
}

.modal-arrow {
  width: 19px;
  height: 9px;
  display: block;
  position: absolute;
  top: 31px;
  right: 162px;
}

.modal-svg {
  width: 26px;
  height: 26px;
  border: 0 none;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 11px;
  left: 59px;
  cursor: pointer;
  padding: 0;
}

.arrival {
  color: #FF5757;
}

.back-button {
  width: 40px;
  min-height: 48px;
  border: 0 none;
  cursor: pointer;
}

.modal-svg:hover + .popover + .popover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.modal-svg:hover + .modal-arrow {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.modal-svg:focus + .popover + .popover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.modal-svg:focus + .modal-arrow {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.popover {
  visibility: hidden;
  opacity: 0;
}

.forward-button {
  width: 40px;
  min-height: 48px;
  border: 0 none;
  cursor: pointer;
}

.back {
  background-image: url("../images/modal/button-minus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.back:hover {
  color: #000000;
}

.forward {
  background-image: url("../images/modal/button-plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}

.modal-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 10px;
  width: 577px;
  min-height: 60px;
  cursor: pointer;
  padding: 10px 77px;
}

.modal-button:hover,
.modal-button:focus {
  background: #68A2CA;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.30);
  opacity: 0.5;
}
