@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*,
*::before
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
}

ul {
  list-style: none;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #756157;
  color: #000000;
}

.hero {
  background-image: url("../images/index/index-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-inscription {
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.visually-hidden {
  font-size: 0;
}

.advantages-text {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages-application {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 69px;
  font-weight: 400;
}

.advantages-description {
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;

}

.advantages-title-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.picture {
  background-color: #82B3D3;
  display: inline-block;
}

.picture-icons {
  background-color: rgba(131, 179, 211, 0.20);
  display: inline-block;
}

.features-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.features-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.features-title-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.search {
  text-align: center;
}

.search-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: 1px solid #756157;
  border-radius: 4px;
}

.subscription {
  background-image: url("../images/index/Subscribe.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.subscription-catalog {
  text-align: center;
}

.subscription-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-inside {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscription-application {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 0 4px 4px 0;
}

.number {
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.feedback {
  text-decoration: none;
}

.logo {
  text-align: right;
  display: block;
}

.filter {
  background-image: url("../images/catalog/filters.png");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inner-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button-off {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-light {
  text-decoration: none;
}

.apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-link-header {
  text-decoration: none;
}

.services {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.services-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-detailed {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.button-green {
  background-color: #7DB54F;
  border: 1px solid #7DB54F;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 11.364px 0 12.636px 0;
  display: flex;
  width: 60px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #82B3D3;
  margin: auto;
}

.ellipsis {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 11.364px 0 12.636px 0;
  display: flex;
  width: 60px;
  height: 36px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pagination-link-item {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 11.364px 0 12.636px 0;
  display: flex;
  width: 60px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  margin: auto;
}
